body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2080 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:83px;
}
#u2082 {
  position:absolute;
  left:400px;
  top:1304px;
  width:718px;
  height:83px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:34px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:78px;
}
#u2084 {
  position:absolute;
  left:856px;
  top:1306px;
  width:91px;
  height:78px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:31px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086 {
  position:absolute;
  left:444px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2087 {
  position:absolute;
  left:579px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2088 {
  position:absolute;
  left:710px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2089 {
  position:absolute;
  left:847px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2090 {
  position:absolute;
  left:984px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2091 {
  position:absolute;
  left:679px;
  top:1223px;
  width:147px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
