body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1925 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927 {
  position:absolute;
  left:444px;
  top:1202px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1928 {
  position:absolute;
  left:579px;
  top:1202px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1929 {
  position:absolute;
  left:710px;
  top:1202px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1930 {
  position:absolute;
  left:847px;
  top:1202px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1931 {
  position:absolute;
  left:984px;
  top:1202px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1932 {
  position:absolute;
  left:444px;
  top:182px;
  width:676px;
  height:611px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
