body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1738 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u1739 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740 {
  position:absolute;
  left:444px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1741 {
  position:absolute;
  left:579px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1742 {
  position:absolute;
  left:710px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1743 {
  position:absolute;
  left:847px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1744 {
  position:absolute;
  left:1002px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1745 {
  position:absolute;
  left:1055px;
  top:90px;
  width:47px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
