body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1763px;
}
#u1797 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1763px;
}
#u1798 {
  position:absolute;
  left:2px;
  top:874px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1800 {
  position:absolute;
  left:441px;
  top:1488px;
  width:659px;
  height:170px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:77px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:79px;
}
#u1804 {
  position:absolute;
  left:441px;
  top:1475px;
  width:645px;
  height:79px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:32px;
  width:641px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1806 {
  position:absolute;
  left:454px;
  top:1488px;
  width:78px;
  height:39px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#565656;
}
#u1808 {
  position:absolute;
  left:454px;
  top:1492px;
  width:76px;
  height:29px;
  font-size:25px;
  color:#565656;
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
}
#u1810 {
  position:absolute;
  left:454px;
  top:1554px;
  width:114px;
  height:49px;
}
#u1811 {
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:71px;
}
#u1812 {
  position:absolute;
  left:857px;
  top:1549px;
  width:218px;
  height:71px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:28px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:52px;
}
#u1814 {
  position:absolute;
  left:655px;
  top:1612px;
  width:173px;
  height:52px;
}
#u1815 {
  position:absolute;
  left:2px;
  top:18px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816 {
  position:absolute;
  left:441px;
  top:1688px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1817 {
  position:absolute;
  left:581px;
  top:1688px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1818 {
  position:absolute;
  left:712px;
  top:1688px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1819 {
  position:absolute;
  left:849px;
  top:1688px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1820 {
  position:absolute;
  left:986px;
  top:1688px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
