body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:797px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:964px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:1049px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:1288px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1373px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:1449px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:1525px;
  top:28px;
  width:66px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
