body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193 {
  position:absolute;
  left:0px;
  top:125px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1194 {
  position:absolute;
  left:0px;
  top:154px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1195 {
  position:absolute;
  left:3px;
  top:182px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1196 {
  position:absolute;
  left:971px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1197 {
  position:absolute;
  left:1055px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1198 {
  position:absolute;
  left:1290px;
  top:24px;
  width:69px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1199 {
  position:absolute;
  left:3px;
  top:209px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1200 {
  position:absolute;
  left:1375px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1201 {
  position:absolute;
  left:1453px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1202 {
  position:absolute;
  left:804px;
  top:24px;
  width:61px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
