body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1823px;
}
#u2391 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1823px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:904px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:556px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:400px;
  top:1345px;
  width:733px;
  height:556px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:270px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:359px;
}
#u2395 {
  position:absolute;
  left:444px;
  top:1430px;
  width:655px;
  height:359px;
}
#u2396 {
  position:absolute;
  left:2px;
  top:172px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:65px;
}
#u2397 {
  position:absolute;
  left:442px;
  top:1355px;
  width:645px;
  height:65px;
}
#u2398 {
  position:absolute;
  left:2px;
  top:24px;
  width:641px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  position:absolute;
  left:435px;
  top:1355px;
  width:638px;
  height:50px;
}
#u2400 {
  position:absolute;
  left:2px;
  top:17px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#666666;
}
#u2401 {
  position:absolute;
  left:444px;
  top:1360px;
  width:151px;
  height:29px;
  font-size:25px;
  color:#666666;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:87px;
}
#u2403 {
  position:absolute;
  left:435px;
  top:1822px;
  width:758px;
  height:87px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:36px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405 {
  position:absolute;
  left:470px;
  top:1823px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2406 {
  position:absolute;
  left:612px;
  top:1823px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2407 {
  position:absolute;
  left:752px;
  top:1823px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2408 {
  position:absolute;
  left:896px;
  top:1823px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2409 {
  position:absolute;
  left:1037px;
  top:1823px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2410 {
  position:absolute;
  left:474px;
  top:1700px;
  width:590px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
