body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1605 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1606 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1607 {
  position:absolute;
  left:218px;
  top:122px;
  width:259px;
  height:43px;
}
#u1608 {
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:43px;
}
#u1609 {
  position:absolute;
  left:218px;
  top:122px;
  width:202px;
  height:43px;
}
#u1610 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611 {
  position:absolute;
  left:0px;
  top:95px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1612 {
  position:absolute;
  left:0px;
  top:92px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1613 {
  position:absolute;
  left:3px;
  top:120px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1614 {
  position:absolute;
  left:971px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1615 {
  position:absolute;
  left:1055px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1616 {
  position:absolute;
  left:1290px;
  top:24px;
  width:69px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1617 {
  position:absolute;
  left:3px;
  top:209px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1618 {
  position:absolute;
  left:3px;
  top:179px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1619 {
  position:absolute;
  left:1375px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1620 {
  position:absolute;
  left:1453px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1621 {
  position:absolute;
  left:804px;
  top:24px;
  width:61px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
