body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2147 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:446px;
  top:1208px;
  width:640px;
  height:82px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:33px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:86px;
}
#u2151 {
  position:absolute;
  left:447px;
  top:1204px;
  width:655px;
  height:86px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:35px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:101px;
}
#u2153 {
  position:absolute;
  left:437px;
  top:1204px;
  width:697px;
  height:101px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:42px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155 {
  position:absolute;
  left:460px;
  top:1215px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2156 {
  position:absolute;
  left:595px;
  top:1215px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2157 {
  position:absolute;
  left:726px;
  top:1215px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2158 {
  position:absolute;
  left:863px;
  top:1215px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2159 {
  position:absolute;
  left:1000px;
  top:1215px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
