body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2772 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2773 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2775 {
  position:absolute;
  left:443px;
  top:1029px;
  width:19px;
  height:18px;
}
#u2776 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2777 {
  position:absolute;
  left:623px;
  top:1029px;
  width:19px;
  height:18px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2779 {
  position:absolute;
  left:784px;
  top:1029px;
  width:19px;
  height:18px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2781 {
  position:absolute;
  left:959px;
  top:1029px;
  width:19px;
  height:18px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u2783 {
  position:absolute;
  left:443px;
  top:1082px;
  width:19px;
  height:17px;
}
#u2784 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u2785 {
  position:absolute;
  left:623px;
  top:1082px;
  width:19px;
  height:17px;
}
#u2786 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2787 {
  position:absolute;
  left:454px;
  top:93px;
  width:40px;
  height:40px;
}
#u2788 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
