body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2346 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:75px;
}
#u2348 {
  position:absolute;
  left:630px;
  top:829px;
  width:91px;
  height:75px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350 {
  position:absolute;
  left:443px;
  top:1209px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2351 {
  position:absolute;
  left:583px;
  top:1209px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2352 {
  position:absolute;
  left:718px;
  top:1209px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2353 {
  position:absolute;
  left:854px;
  top:1209px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2354 {
  position:absolute;
  left:989px;
  top:1208px;
  width:92px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
