body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1694 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696 {
  position:absolute;
  left:971px;
  top:21px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1697 {
  position:absolute;
  left:1055px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1698 {
  position:absolute;
  left:1290px;
  top:24px;
  width:69px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1699 {
  position:absolute;
  left:1375px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1700 {
  position:absolute;
  left:1453px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1701 {
  position:absolute;
  left:814px;
  top:25px;
  width:61px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1702 {
  position:absolute;
  left:32px;
  top:129px;
  width:144px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1703 {
  position:absolute;
  left:32px;
  top:157px;
  width:144px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1704 {
  position:absolute;
  left:32px;
  top:185px;
  width:144px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1705 {
  position:absolute;
  left:32px;
  top:213px;
  width:144px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1706 {
  position:absolute;
  left:32px;
  top:241px;
  width:144px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1707 {
  position:absolute;
  left:32px;
  top:269px;
  width:144px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1708 {
  position:absolute;
  left:1521px;
  top:26px;
  width:67px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
