body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2118 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120 {
  position:absolute;
  left:446px;
  top:1206px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2121 {
  position:absolute;
  left:584px;
  top:1206px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2122 {
  position:absolute;
  left:717px;
  top:1206px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2123 {
  position:absolute;
  left:847px;
  top:1206px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2124 {
  position:absolute;
  left:984px;
  top:1206px;
  width:100px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2125 {
  position:absolute;
  left:584px;
  top:941px;
  width:363px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
