body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:225px;
  top:287px;
  width:134px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1072 {
  position:absolute;
  left:0px;
  top:95px;
  width:197px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1073 {
  position:absolute;
  left:0px;
  top:210px;
  width:197px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1074 {
  position:absolute;
  left:0px;
  top:181px;
  width:197px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(66, 160, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  position:absolute;
  left:37px;
  top:243px;
  width:134px;
  height:16px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1077 {
  position:absolute;
  left:43px;
  top:243px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1079 {
  position:absolute;
  left:971px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1080 {
  position:absolute;
  left:1055px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1081 {
  position:absolute;
  left:1378px;
  top:24px;
  width:56px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1082 {
  position:absolute;
  left:1452px;
  top:24px;
  width:56px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1083 {
  position:absolute;
  left:1290px;
  top:24px;
  width:69px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1084 {
  position:absolute;
  left:0px;
  top:122px;
  width:197px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1085 {
  position:absolute;
  left:0px;
  top:238px;
  width:197px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:705px;
  overflow:hidden;
  visibility:hidden;
}
#u1086_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:705px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1086_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.258823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:540px;
}
#u1089 {
  position:absolute;
  left:301px;
  top:192px;
  width:679px;
  height:540px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:262px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091 {
  position:absolute;
  left:527px;
  top:667px;
  width:56px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1092 {
  position:absolute;
  left:619px;
  top:667px;
  width:56px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1093 {
  position:absolute;
  left:710px;
  top:667px;
  width:56px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1094 {
  position:absolute;
  left:945px;
  top:202px;
  width:27px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1095 {
  position:absolute;
  left:804px;
  top:24px;
  width:61px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
