body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2092 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:83px;
}
#u2094 {
  position:absolute;
  left:400px;
  top:1304px;
  width:718px;
  height:83px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:34px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:78px;
}
#u2096 {
  position:absolute;
  left:856px;
  top:1309px;
  width:91px;
  height:78px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:31px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098 {
  position:absolute;
  left:444px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2099 {
  position:absolute;
  left:579px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2100 {
  position:absolute;
  left:710px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2101 {
  position:absolute;
  left:847px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2102 {
  position:absolute;
  left:984px;
  top:1300px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2103 {
  position:absolute;
  left:884px;
  top:1224px;
  width:153px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
