body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289 {
  position:absolute;
  left:0px;
  top:123px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1290 {
  position:absolute;
  left:0px;
  top:148px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1291 {
  position:absolute;
  left:3px;
  top:176px;
  width:194px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1292 {
  position:absolute;
  left:971px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1293 {
  position:absolute;
  left:1055px;
  top:20px;
  width:49px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1294 {
  position:absolute;
  left:1290px;
  top:24px;
  width:69px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1295 {
  position:absolute;
  left:1375px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1296 {
  position:absolute;
  left:1453px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1297 {
  position:absolute;
  left:804px;
  top:24px;
  width:61px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
