body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1821 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823 {
  position:absolute;
  left:444px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1824 {
  position:absolute;
  left:579px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1825 {
  position:absolute;
  left:710px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1826 {
  position:absolute;
  left:847px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1827 {
  position:absolute;
  left:984px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1828 {
  position:absolute;
  left:967px;
  top:817px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1829 {
  position:absolute;
  left:967px;
  top:639px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1830 {
  position:absolute;
  left:967px;
  top:454px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1831 {
  position:absolute;
  left:570px;
  top:166px;
  width:109px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1832 {
  position:absolute;
  left:872px;
  top:166px;
  width:109px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
