body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:800px;
}
#u838 {
  position:absolute;
  left:2px;
  top:392px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:5px;
  background:inherit;
  background-color:rgba(6, 127, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:934px;
  top:118px;
  width:93px;
  height:5px;
}
#u842 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:3px;
  background:inherit;
  background-color:rgba(7, 139, 245, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  position:absolute;
  left:948px;
  top:122px;
  width:65px;
  height:3px;
}
#u844 {
  position:absolute;
  left:2px;
  top:-6px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
  background:inherit;
  background-color:rgba(12, 170, 248, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:948px;
  top:109px;
  width:65px;
  height:9px;
}
#u846 {
  position:absolute;
  left:2px;
  top:-4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u847 {
  position:absolute;
  left:949px;
  top:109px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(207, 234, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:809px;
  top:102px;
  width:300px;
  height:34px;
}
#u851 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u852 {
  position:absolute;
  left:809px;
  top:103px;
  width:117px;
  height:34px;
}
#u853 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u855 {
  position:absolute;
  left:928px;
  top:102px;
  width:113px;
  height:34px;
}
#u856 {
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background:inherit;
  background-color:rgba(9, 107, 238, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:932px;
  top:106px;
  width:105px;
  height:25px;
}
#u858 {
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:956px;
  top:111px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:25px;
  background:inherit;
  background-color:rgba(245, 245, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:317px;
  top:403px;
  width:1028px;
  height:25px;
}
#u862 {
  position:absolute;
  left:2px;
  top:4px;
  width:1024px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u863 {
  position:absolute;
  left:330px;
  top:405px;
  width:80px;
  height:24px;
}
#u864 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u865 {
  position:absolute;
  left:561px;
  top:405px;
  width:78px;
  height:22px;
}
#u866 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u867 {
  position:absolute;
  left:848px;
  top:405px;
  width:60px;
  height:21px;
}
#u868 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u869 {
  position:absolute;
  left:1133px;
  top:403px;
  width:79px;
  height:25px;
}
#u870 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:100px;
  background:inherit;
  background-color:rgba(251, 253, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:301px;
  top:154px;
  width:1167px;
  height:100px;
}
#u872 {
  position:absolute;
  left:2px;
  top:42px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:32px;
}
#u873 {
  position:absolute;
  left:509px;
  top:175px;
  width:356px;
  height:32px;
}
#u874 {
  position:absolute;
  left:2px;
  top:8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:36px;
}
#u875 {
  position:absolute;
  left:941px;
  top:175px;
  width:354px;
  height:36px;
}
#u876 {
  position:absolute;
  left:2px;
  top:10px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  position:absolute;
  left:798px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u878 {
  position:absolute;
  left:959px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u879 {
  position:absolute;
  left:1046px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u880 {
  position:absolute;
  left:1286px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u881 {
  position:absolute;
  left:1375px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u882 {
  position:absolute;
  left:1453px;
  top:26px;
  width:68px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u883 {
  position:absolute;
  left:10px;
  top:152px;
  width:146px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u884 {
  position:absolute;
  left:10px;
  top:178px;
  width:146px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u885 {
  position:absolute;
  left:248px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u886 {
  position:absolute;
  left:366px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u887 {
  position:absolute;
  left:479px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u888 {
  position:absolute;
  left:594px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u889 {
  position:absolute;
  left:707px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u890 {
  position:absolute;
  left:825px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u891 {
  position:absolute;
  left:938px;
  top:105px;
  width:87px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:673px;
  top:432px;
  width:436px;
  height:200px;
}
#u893 {
  position:absolute;
  left:2px;
  top:92px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:302px;
  top:439px;
  width:141px;
  height:16px;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:509px;
  top:437px;
  width:141px;
  height:16px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  position:absolute;
  left:858px;
  top:439px;
  width:29px;
  height:16px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:1142px;
  top:438px;
  width:89px;
  height:16px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:302px;
  top:473px;
  width:141px;
  height:16px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:509px;
  top:471px;
  width:141px;
  height:16px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:858px;
  top:473px;
  width:29px;
  height:16px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:1142px;
  top:472px;
  width:89px;
  height:16px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:302px;
  top:508px;
  width:141px;
  height:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  position:absolute;
  left:509px;
  top:506px;
  width:141px;
  height:16px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:858px;
  top:508px;
  width:29px;
  height:16px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:1142px;
  top:507px;
  width:89px;
  height:16px;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:302px;
  top:539px;
  width:141px;
  height:16px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:509px;
  top:537px;
  width:141px;
  height:16px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:858px;
  top:539px;
  width:29px;
  height:16px;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:1142px;
  top:538px;
  width:89px;
  height:16px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:302px;
  top:576px;
  width:141px;
  height:16px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933 {
  position:absolute;
  left:509px;
  top:574px;
  width:141px;
  height:16px;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:858px;
  top:576px;
  width:29px;
  height:16px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  position:absolute;
  left:1142px;
  top:575px;
  width:89px;
  height:16px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:302px;
  top:610px;
  width:141px;
  height:16px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:509px;
  top:608px;
  width:141px;
  height:16px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:858px;
  top:610px;
  width:29px;
  height:16px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:1142px;
  top:609px;
  width:89px;
  height:16px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:194px;
}
#u948 {
  position:absolute;
  left:1323px;
  top:434px;
  width:238px;
  height:194px;
}
#u949 {
  position:absolute;
  left:2px;
  top:89px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
