body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2744 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u2745 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u2746 {
  position:absolute;
  left:442px;
  top:1032px;
  width:19px;
  height:16px;
}
#u2747 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:32px;
  background:inherit;
  background-color:rgba(23, 205, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2749 {
  position:absolute;
  left:542px;
  top:582px;
  width:427px;
  height:32px;
}
#u2750 {
  position:absolute;
  left:2px;
  top:8px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2751 {
  position:absolute;
  left:542px;
  top:614px;
  width:315px;
  height:32px;
}
#u2752 {
  position:absolute;
  left:2px;
  top:8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2753 {
  position:absolute;
  left:542px;
  top:646px;
  width:206px;
  height:32px;
}
#u2754 {
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:32px;
  background:inherit;
  background-color:rgba(23, 205, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2756 {
  position:absolute;
  left:542px;
  top:714px;
  width:427px;
  height:32px;
}
#u2757 {
  position:absolute;
  left:2px;
  top:8px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2758 {
  position:absolute;
  left:543px;
  top:746px;
  width:315px;
  height:32px;
}
#u2759 {
  position:absolute;
  left:2px;
  top:8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2760 {
  position:absolute;
  left:543px;
  top:778px;
  width:206px;
  height:32px;
}
#u2761 {
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:32px;
  background:inherit;
  background-color:rgba(23, 205, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2763 {
  position:absolute;
  left:543px;
  top:846px;
  width:427px;
  height:32px;
}
#u2764 {
  position:absolute;
  left:2px;
  top:8px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2765 {
  position:absolute;
  left:542px;
  top:878px;
  width:315px;
  height:32px;
}
#u2766 {
  position:absolute;
  left:2px;
  top:8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2767 {
  position:absolute;
  left:542px;
  top:910px;
  width:206px;
  height:32px;
}
#u2768 {
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2769 {
  position:absolute;
  left:454px;
  top:93px;
  width:40px;
  height:40px;
}
#u2770 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
