body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1901 {
  position:absolute;
  left:400px;
  top:10px;
  width:720px;
  height:1280px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  position:absolute;
  left:446px;
  top:1208px;
  width:640px;
  height:82px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:33px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:86px;
}
#u1905 {
  position:absolute;
  left:447px;
  top:1204px;
  width:655px;
  height:86px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:35px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907 {
  position:absolute;
  left:460px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1908 {
  position:absolute;
  left:595px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1909 {
  position:absolute;
  left:726px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1910 {
  position:absolute;
  left:863px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1911 {
  position:absolute;
  left:1000px;
  top:1205px;
  width:100px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
